.nav-container {
    display: flex;
    align-Items:center;
    justify-content: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(101, 101, 101, 0.107);
    font-family: "Jersey 15", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;

}

.head-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.head-container  input{
    padding: 10px;
    border: 1px solid rgba(224, 224, 224, 0.863);
    border-radius: 4px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
 

}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}


ul {
    line-height: 35px;
}

.pre-title {
    margin: 50px 20px 10px;
}

.Decrease-btn {
    padding: 5px 10px;
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.297);
    margin: 10px 0 10px 20px;
    cursor: pointer;
}


.Decrease-btn:active {
    transform: scale(0.98);
}

.Increase-btn {
    padding: 5px 10px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
    color: black;
    margin: 10px 0 10px 20px;
    cursor: pointer;
}

.Decrease-btn:active {
    transform: scale(0.98);
}
